@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
/* For smoothness of Back to Top  */
html{
  scroll-behavior: smooth;
} 

/* Header Part  */
nav{
  background: #151515;
  padding: 5px 40px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li{
  cursor: pointer;
}

.logo img{
  padding: 0;
  width: 250px;
}

nav ul li.items{
  padding: 15px 0; 
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #a21d1d;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo{
  flex: 1;
  cursor: pointer;
  user-select: none;
}

nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}

nav ul li i{
  font-size: 23px;
}

nav ul li.btn{
  display: none;
}

nav ul li.btn.hide i:before{
  content: '\f00d';
}

@media all and (max-width: 930px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.btn:hover a{
    color: #a21d1d;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 2px #a21d1d,
                inset 0 0 4px #a21d1d; 
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
/* body part  */
.banner{
  height: 40vh;
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)) ,url(../image/admission.jpg);
}
.banner h1{
  font-size: 70px;
  color: #FFFFFF;
  padding-left: 100px;
  padding-top: 80px;
  text-shadow: 2px 2px 4px black;
}
.banner h2{
  font-size: 30px;
  color: #FFFFFF;
  padding-left: 150px;
  text-shadow: 2px 2px 4px black;
}
@media all and (max-width: 580px){
  .banner h1{
    font-size: 60px;
    padding-left: 80px;
  }
  .banner h2{
    font-size: 25px;
    padding-left: 100px;
  }
}

@media all and (max-width: 440px){
  .banner h1{
    font-size: 50px;
    padding-left: 5px;
  }
  .banner h2{
    font-size: 20px;
    padding-left: 15px;
  }
}
/* Form Part  */
#form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px 200px;
}
#form h1{
  font-size: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  text-shadow: 1px 1px 4px black;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #FFFFFF;
  color: #a21d1d;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1.5px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  border-color: #a21d1d;
  transition: 0.4s;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #a21d1d;
  color: #FFFFFF;
}
@media all and (max-width: 1100px){
  #form{
    padding: 40px 100px;
  }
}
@media all and (max-width: 930px){
  #form{
    padding: 40px 40px;
  }
}
@media all and (max-width: 580px){
  #form h1{
    font-size: 45px;
    padding-left: 25px;
  }
}
@media all and (max-width: 490px){
  #form h1{
    font-size: 35px;
    padding-left: 0px;
  }
}
@media all and (max-width: 380px){
  #form h1{
    font-size: 30px;
  }
}

/* Time  */
.time{
  display: flex;
  justify-content: space-around;
  background-color: #a21d1d;
  padding-top: 40px;
  padding-bottom: 40px;
}
.time .pr{
  font-size: 23px;
  color: #FFFFFF;
}
.class{
  padding-top: 25px;
}
.class a{
  border: 1.5px solid transparent;
  padding: 12px 30px;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 510;
  text-decoration: none;
  letter-spacing: 1px;
  background: #a21d1d;
  color: #fff;
  transition: all 0.5s ease;
  border-color: #FFFFFF;
}
.class a:hover{
  color: #a21d1d;
  background: #fff;
}

@media (max-width: 920px){
  .time .pr{
    font-size: 18px;
  }
  .class a{
    padding: 10px 25px;
    font-size: 19px;
    font-weight: 500;
  }
}
@media (max-width: 620px){
  .time{
    display: block
  }
  .class{
    padding-left: 180px;
  }
}
@media (max-width: 480px){
  .class{
    padding-left: 100px;
  }
}
@media (max-width: 330px){
  .class{
    padding-left: 70px;
  }
}

/* Footer Part  */
.social-links {
  background-color: #151515;
  height: 150px;
}

.social-links h1 {
  font-size: 35px;
  color: #FFFFFF;
  padding-top: 30px;
  text-align: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-icon i {
  font-size: 30px;
  padding: 15px;
  color: #FFFFFF;
}

.social-icon i:hover {
  color: #a21d1d;
  cursor: pointer;
}

.copyright {
  height: 80px;
  background-color: #151515;
  padding-bottom: 100px;
}

.copyright p {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 40px;
}
@media all and (max-width: 630px){
  .social-links h1 {
    font-size: 30px;
  }
  .social-icon i {
    font-size: 25px;
    padding: 10px;
  }
  .copyright p {
    font-size: 15px;
  }
}

/* Scroll To Top  */
.arrow{
position: fixed;
bottom: 30px;
right: 30px;
z-index: 9;
}
.arrow a:hover{
  background-color: #FFFFFF;
}
.arrow a span:hover{
color: #000;
}
.arrow a{
height: 50px;
width: 50px;
text-align: center;
background: #a21d1d;
display: block;
border-radius: 30px;
transition: 0.4s;
}
.arrow a span{
color: #f2f2f2;
font-size: 30px;
line-height: 45px;
cursor: pointer;
}